//MIXINS

@mixin med($border, $wid) {
    border-radius: $border;
    width: $wid;
}
  
@mixin font($text, $font) {
    text-align: $text;
    font-size: $font;
}
  
@mixin borpad($pad, $bord) {
      padding: $pad;
      border: $bord;
}